<div id="euiUploadState">
    <div id="euiUploadProgress"></div>
    <table>
        <thead>
        <tr>
            <th class="sgrow1">{{euiuLang.file}}</th>
            <th class="sgrow2">{{euiuLang.size}}</th>
            <th class="sgrow3">{{euiuLang.progress}}</th>
        </tr>
        </thead>
    </table>
    <div id="euiFilesList">
        <table>
            <tbody>
            {{#each files}}
                <tr id="sgFilesListRow{{@index}}">
                    <td class="sgrow1">{{this.name}}</td>
                    <td class="sgrow2">{{bytesToSize this.size}}</td>
                    <td class="sgrow3 progress"></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
